
    <form action="/sign_out" method="post">
      You are signed in as: <%= username %>.  This address will be automatically added to your list of addresses for <a href="https://browserid.org">BrowserID</a>.

      <p>
        <input type="submit" value="Sign Out" autofocus />
      </p>
    </form>

  <script type="text/javascript" src="//127.0.0.1:10002/include.js"></script>
  <script type="text/javascript">
    navigator.id.sessions = [{
        email: "<%= username %>"
    }];

    // Save this off to use in the cert generation. 
    navigator.id.username = "<%= username %>";
  </script>
  <script type="text/javascript" src="cert.js"></script>
