<!doctype html>

<html>
<head>
  <title><%= title %></title>

</head>
<body>
    <h1>Authentication SUCCESS!</h1>

    Username: <%= username %>
  <script type="text/javascript" src="https://diresworb.org/include.js"></script>
  <script type="text/javascript">
    navigator.id.sessions = [{
        email: "<%= username %>"
    }];

    navigator.id.username = "<%= username %>";
  </script>
  <script type="text/javascript" src="cert.js"></script>
</body>
</html>
