  <div id="wrapper">
    <header>
      <img src=LoginBanner.png width=450 height=100 alt="Mozilla Corporation" />
      <h1>Collaboration Suite</h1>
    </header>

    <form action="/sign_in" method="post">
      <div class="warning">
        <p class="invalid_creds">
          <img src="/ImgCritical_32.gif" width=32 height=32 alt="Error" />
          The username or password is incorrect.  Verify that CAPS LOCK is not on, and then retype the current suername and password.
        </p>
      </div>

      <p>
        <label for="username">Username:</label>
        <input type="email" id="username" name="username" autofocus required />
      </p>
      <p>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required />
      </p>
      <input type="submit" value="Sign In"/>
    </form>
  </div>

