  <form action="/sign_in" method="post">
    <p>
      <label for="username">Username:</label>
      <input type="email" id="username" name="username" required />
    </p>
    <p>
      <label for="password">password:</label>
      <input type="password" id="password" name="password" required />
    </p>
    <input type="submit" value="Sign In"/>
  </form>

