html, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #EFE7D4;
  width: 100%;
  height: 100%;
  font-family: Tahoma,Arial,Helvetica,sans-serif;
  font-size: 11px;
}

/* We can take this out once the iframe is properly hidden */
iframe {
  position: absolute;
  top: -1000px;
  left: -1000px;
  width: 1px;
  height: 1px;
}

header > img {
  width: 450px;
  height: 100px;
  margin: 0 auto;
  display: block;
}

header > h1 {
  font-size: 18px;
  margin: 10px 30px 5px 0;
  text-align: right;
}

#wrapper {
  background-color: #d7cfbe;
  border: 1px solid #A7A194;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  width: 495px;
  margin: 15px auto;
  padding: 10px;
  -moz-box-shadow: 1px 1px 1px #A7A194;
  -webkit-box-shadow: 1px 1px 1px #A7A194;
  box-shadow: 1px 1px 1px #A7A194;
}

form {
  background-color: #F7F3E9;
  border: 1px solid #A7A194;
  border-radius: 3px;
  padding: 4px;
  margin: 10px 0;
  -moz-box-shadow: 1px 1px 1px #333 inset;
  -webkit-box-shadow: 1px 1px 1px #333 inset;
  box-shadow: 1px 1px 1px #333 inset;
}


label {
  font-size: 11px;
  width: 80px;
  display: inline-block;
  text-align: right;
  padding-right: 4px;
}

input[type=email], input[type=password] {
  border: 1px solid;
  border-color: #2F2E2A #A7A194 #A7A194 #2F2E2A;
  background-color: #fff;
  width: 324px;
  height: 16px;
  padding: 2px 4px;
  cursor: text;
}

.warning {
  display: none;
  background-color: #E3DA93;
  width: 80%;
  margin: 10px auto;
  padding: 10px;
  border: 1px solid #A7A194;
  box-shadow: 1px 1px 1px 0 #333;
}

.showWarning .warning {
  display: block;
}

.warning > p {
  padding: 0;
  margin: 0;
}

.warning > p > img {
  float: left;
  margin-right: 10px;
}

#container {
  width: 1169px;
  position: relative;
  margin: 0 auto;
}

#topname {
  font-size: 12px;
  font-weight: bold;
  position: absolute;
  top: 46px;
  left: 15px;
}

#zimbrabg {
  width: 1169px;
  height: 768px;
}

#signout {
  font-weight: bold;
  color: #02008B;
  text-decoration: none;
  position: absolute;
  top: 27px;
  left: 1082px;
}

#lightbox {
  background: rgba(0, 0, 0, .8);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

#message {
  border: 5px solid #222;
  padding: 10px;
  border-radius: 5px;
  position: absolute;
  width: 400px;
  height: 200px;
  top: 50%;
  left: 50%;
  margin: -150px 0 0 -200px;
  display: block;
  z-index: 2;
  background-color: #EFE7D4;
  font-size: 12px;
}

#message > h3 {
  color: #B9052D;
}

#closelightbox {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

